<div class="container py-4">
  <div class="row">
    <div class="col col-md-8 offset-md-2">
    <h1>Editing Language</h1>

      <%= render 'form', language: @language %>
      <%= link_to 'Show', admin_language_path(@language) %> |
      <%= link_to 'Back', admin_languages_path %>
    </div>
  </div>
</div>
