<div class="container py-5 text-center">
  <!-- <img src="/images/contact/picto_vert_sans_fond.png" alt="Contact" style="width: 150px;"> -->
  <span class="fa fa-check-circle" style="font-size: 70px;"></span>
  <h4 class="mt-4 text-center">Message sent successfully.</h4>
  <p class="mt-4 text-center">One of our representatives will get in touch with you shortly.</p>
  <p><%= link_to raw('&larr; Back to the home page'), root_path %></p>
</div>
