<h1>Editing Membership</h1>

<%= render 'form', membership: @membership %>

<%= link_to 'Show', user_team_membership_path(@user, @team, @membership) %> |
<%= link_to 'Back', user_team_memberships_path(@user, @team) %>
