<div class="container my-5">
  <p> <img src="/images/gatrix-logo.png" alt="Gatrix Repositories"> </p>

  <h1>Gatrix</h1>
  <%#
  <pre>  •••••••••             •••••               •••<br/> •••·····•••           ··•••               ···<br/> •••     ···   ••••••   •••••••   ••••••••  ••••  ••••• •••••<br/> ·•••          ·····••• ···•••·   ··•••··•••··••• ··••• ··•••<br/> ·•••    •••••  •••••••   ·•••     ·••• ···  ·•••  ···•••••·<br/> ··•••  ··•••  •••··•••   ·••• ••• ·•••      ·•••   •••···•••<br/>  ··••••••••• ··••••••••  ··•••••  •••••     ••••• ••••• •••••<br/>   ·········   ········    ·····  ·····     ····· ····· ·····</pre>
  #%>
  <p>The Git Matrix</p>

  <p> <img src="/images/dock-icon.jpg" alt="Gatrix Repositories" class="img-fluid"> </p>

  <%# <pre class="text-left text-muted">
  Repositories      Language    Branch    Status    Path
  --------------------------------------------------------------------
  my-repo-1         js          master    clean     /Users/you/dev
  my-repo-2         ruby        dev       clean     /Users/you/documents
  my-repo-3         php         master    clean     /Users/you/desktop
  </pre> #%>

    <h2>Gatrix for MacOS</h2>
    <p>Download Gatrix for Mac.</p>
    <p><a href="/app/Gatrix.app.zip" class="btn btn-lg btn-dark my-2">Download App</a></p>
    <!-- <p><a href="/app/release/Gatrix.zip" class="btn btn-lg btn-dark my-3">Download App</a></p> -->
    <h2>Gatrix CLI</h2>
    <p> <img src="/images/gatrix-repos.png" alt="Gatrix Repositories" class="img-fluid"> </p>
    <!-- <h3>With Homebrew</h3> -->
    <p>Download Gatrix with homebrew.</p>
    <p>First install Homebrew if you don't already have it.</p>
    <!-- <p><kbd>brew install gatrix</kbd></p> -->
    <p><kbd>/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</kbd></p>

    <h4>Installation</h4>
    <p><kbd>brew tap jimdou/gatrix && brew install gatrix</kbd></p>
    <h4>Usage</h4>
    <p><kbd>gatrix</kbd></p>
    <h4>Update</h4>
    <p><kbd>brew upgrade gatrix</kbd></p>

      <!-- <p> <img src="/images/1.png" alt="Gatrix Repositories" class="img-fluid"> </p> -->

  <%#
  <p class="text-muted">Use "gatrix" without an argument to enter interactive mode.</p>
  <p><kbd>gatrix init</kbd></p>
  <p class="text-muted">Use "gatrix init" to get started with Gatrix.</p>
  <p><kbd>gatrix scan</kbd></p>
  <p class="text-muted">Use "gatrix scan" to scan for local git repositories.</p>
  <p><kbd>gatrix sync</kbd></p>
  <p class="text-muted">Use "gatrix sync" to sync your git repositories.</p>
  <p><kbd>gatrix refactor</kbd></p>
  <p class="text-muted">Use "gatrix refactor" to refactor your code.</p>
  <p><kbd>gatrix branch</kbd></p>
  <p class="text-muted">Use "gatrix branch" to create a branch.</p>
  <p><kbd>gatrix commit</kbd></p>
  <p class="text-muted">Use "gatrix commit" to commit your repositories.</p>
  <p><kbd>gatrix pull</kbd></p>
  <p class="text-muted">Use "gatrix pull" to update your code from the remote.</p>
  <p><kbd>gatrix push</kbd></p>
  <p class="text-muted">Use "gatrix push" to update the remote from your code.</p>
  <p><kbd>gatrix help</kbd></p>
  <p class="text-muted">Use "gatrix help" to get help.</p>
  #%>
</div>
