
<div class="container mt-4 py-5 px-3 text-center">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <p><img src="/images/omnilint-logo.png" alt="Lint.dev Repositories"></p>

      <h1>Lint.dev</h1>
      <!-- <p>The Git Matrix</p> -->
      <p>Available Soon</p>
    </div>
  </div>
</div>
