<%= render 'repositories/header', repository: @repository %>
<% # render 'repositories/hard_tabs', repository: @repository %>

<section class="bg-white">
  <div class="container">
    <%= render 'repositories/tabs/settings', repository: @repository %>
  </div>
</section>
