<%= render 'repositories/secondary_menu', repository: @repository %>

<section class="bg-white">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
      <section class="bg-light">
        <%= render 'repositories/tabs/overview', repository: @repository %>
      </section>
    </div>
  </div>
</section>
