<h1>Editing Commit Attempt</h1>

<%= render 'form', commit_attempt: @commit_attempt %>

<%= link_to 'Show', admin_commit_attempt_path(@commit_attempt) %> |
<%= link_to 'Back', admin_commit_attempts_path %>
