<p>
  Hi, <%= @user.username %>
</p>
<p>
  Your Omnilint account was created successfully.<br />
  Your username is: <strong><%= @user.username %></strong>.<br />
  To connect, just click on this link: https://www.omnilint.com/.
  It is available at: <a href="https://www.omnilint.com/">https://www.omnilint.com/</a>.
</p>
<p>
  Thank you,<br />
  The Omnilint team
</p>
