<section>

  <a href="https://lint.dev/" style="float:left;margin-bottom: 20px;">
    <img src="https://lint.dev/images/mailer/logo.png" alt="Lint.dev Logo" width="140" height="30" />
  </a>

  <p style="clear: both;">
    Hi, <%= @user.username %>
  </p>
  <p>
    Your Lint.dev account was created successfully.<br />
    Your username is: <strong><%= @user.username %></strong>.<br />
    To connect, just click on this link: <a href="https://lint.dev/">https://lint.dev/</a>.
  </p>
  <p>
    Thank you,<br />
    The Lint.dev team
  </p>
</section>
