<p>
  Hi, <%= @user.username %>
</p>
<p>
  Your Gatrix account was created successfully.<br />
  Your username is: <strong><%= @user.username %></strong>.<br />
  To connect, just click on this link: https://omnilint.com/.
  It is available at: <a href="https://omnilint.com/">https://omnilint.com/</a>.
</p>
<p>
  Thank you,<br />
  The Gatrix team
</p>
