<p>
  Hi, <%= @user.username %>
</p>
<p>
  Your Gatrix account was created successfully.<br />
  Your username is: <strong><%= @user.username %></strong>.<br />
  To connect, just click on this link: https://gatrix.io/.
  It is available at: <a href="https://gatrix.io/">https://gatrix.io/</a>.
</p>
<p>
  Thank you,<br />
  The Gatrix team
</p>
