<section>

  <a href="https://lint.to/" style="float:left;margin-bottom: 20px;">
    <img src="https://lint.to/images/mailer/logo.png" alt="Lint Logo" width="140" height="30" />
  </a>

  <p style="clear: both;">
    Hi, <%= @user.username %>
  </p>
  <p>
    Your Lint account was created successfully.<br />
    Your username is: <strong><%= @user.username %></strong>.<br />
    To connect, just click on this link: <a href="https://lint.to/">https://lint.to/</a>.
  </p>
  <p>
    Thank you,<br />
    The Lint team
  </p>
</section>
