<style>
  .scrollmenu {
    /* background-color: #FFFFFF; */
    background-color: #eee;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    border-top: 1px solid #cfd4d9;
    padding-top: 10px;
    padding-bottom: 6px;
  }
  .scrollmenu img {
    width: 50px;
    height: 50px;
    /* border-radius: 50px; */
    border-radius: 5px;
    /* border: 3px solid #eee; */
    border: 2px solid #ddd;
  }


  .scrollmenu::-webkit-scrollbar {
    display: none;
  }

  .scrollmenu a {
    display: inline-block;
    color: #666;
    /* color: #343a40; */
    text-align: center;
    /* padding: 14px; */
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-family: Arial;
  }

  .scrollmenu a:hover i {
    /* border-radius: 50px; */
    /* border: 2px solid #0070c9; */
    border: 2px solid #666;
  }



  .scrollmenu-title {
    width: 70px;
    overflow: hidden;
    padding-bottom: 0;
  }

  .scrollmenu i {
    width: 50px;
    height: 50px;
    /* border-radius: 50px; */
    border-radius: 5px;
    /* border: 3px solid #eee; */
    border: 2px solid #999;
    background-color: #fff;
    color: #666;

    /* padding: 2px; */
    font-size: 34px;
    padding: 2px;
    padding-top: 5px;
    margin-bottom: 3px;
  }
  .scrollmenu a:hover {
    /* color: #0070c9 !important; */
    /* color: #fff !important; */
    color: #111 !important;
  }
  .scrollmenu a:hover i {
    /* color: #0070c9 !important; */
    color: #111 !important;
    /* color: #fff !important; */
  }

  /* .scrollmenu-icon {
    font-size: 40px;
  } */

</style>


<div class="scrollmenu">
    <div class="container-fluid">

      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>
      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>
      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>
      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>
      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>
      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>
      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>
      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>
      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>
      <a href="/fr/products?category_ids=12" class="mx-auto">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-dashboard scrollmenu-icon"></i>
          <div class="text-center scrollmenu-title">Dashboard</div>
        </div>
      </a>

    </div>
  </div>
