
<section class="container repository">
  <nav>
    <div class="nav nav-tabs flex-column flex-md-row" id="nav-tab" role="tablist">
      <a class="flex-md-fill text-md-center nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true"><i class="fa fa-dashboard"></i> Overview</a>
      <a class="flex-md-fill text-md-center nav-item nav-link" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="false"><i class="fa fa-folder"></i> Files</a>
      <a class="flex-md-fill text-md-center nav-item nav-link" id="nav-commits-tab" data-toggle="tab" href="#nav-commits" role="tab" aria-controls="nav-commits" aria-selected="false"><i class="fa fa-code-fork"></i> Commits</a>
      <a class="flex-md-fill text-md-center nav-item nav-link" id="nav-issues-tab" data-toggle="tab" href="#nav-issues" role="tab" aria-controls="nav-issues" aria-selected="false"><i class="fa fa-exclamation-triangle"></i> Issues <span class="badge badge-secondary">9</span></a>
      <a class="flex-md-fill text-md-center nav-item nav-link" id="nav-pull-request-tab" data-toggle="tab" href="#nav-pull-request" role="tab" aria-controls="nav-pull-request" aria-selected="false"><i class="fa fa-arrow-down"></i> PRs <span class="badge badge-secondary">3</span></a>
      <a class="flex-md-fill text-md-center nav-item nav-link" id="nav-issues-tab" data-toggle="tab" href="#nav-analytics" role="tab" aria-controls="nav-analytics" aria-selected="false"><i class="fa fa-bar-chart"></i> Analytics</a>
      <a class="flex-md-fill text-md-center nav-item nav-link" id="nav-ratings-tab" data-toggle="tab" href="#nav-ratings" role="tab" aria-controls="nav-ratings" aria-selected="false"><i class="fa fa-star"></i> Ratings</a>
      <a class="flex-md-fill text-md-center nav-item nav-link" id="nav-access-tab" data-toggle="tab" href="#nav-access" role="tab" aria-controls="nav-access" aria-selected="false"><i class="fa fa-users"></i> Access</a>
      <a class="flex-md-fill text-md-center nav-item nav-link" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-settings" aria-selected="false"><i class="fa fa-cog"></i> Settings</a>
    </div>
  </nav>
</section>
