
<div class="container pt-4 pb-3">
  <h4 class="mb-3">Issues</h4>
  <table class="table table-striped">
    <!-- <thead>
      <tr>
        <th>File</th>
        <th></th>
        <th></th>
      </tr>
    </thead> -->
    <tbody>
      <tr>
        <td><i class="fa fa-folder"></i> app/</td>
        <td class="text-muted">folder</td>
        <td class="text-muted">12kb</td>
        <td><a href="#">Show</a></td>
      </tr>
      <tr>
        <td><i class="fa fa-folder"></i> src/</td>
        <td class="text-muted">folder</td>
        <td class="text-muted">12kb</td>
        <td><a href="#">Show</a></td>
      </tr>
      <tr>
        <td><i class="fa fa-folder"></i> public/</td>
        <td class="text-muted">folder</td>
        <td class="text-muted">12kb</td>
        <td><a href="#">Show</a></td>
      </tr>
      <tr>
        <td><i class="fa fa-file-o"></i> .gitignore</td>
        <td class="text-muted">file</td>
        <td class="text-muted">12kb</td>
        <td><a href="#">Show</a></td>
      </tr>
    </tbody>
  </table>
</div>
