
    <div style="background-color:#f7a000">
      <div style="padding:10px 20px 10px 20px;text-align:center; color: white;"> <span class="fa fa-warning"></span> Unexpected empty block </div>
        <div style="background-color:#ffff">
          <code style="color:#000">
            <div style="overflow:auto;width:auto">
              <table border="0" cellspacing="0" cellpadding="0">
                <tbody><tr style="padding-top:10px;padding-bottom:10px">

                  <td style="padding-top:10px;padding-bottom:10px;padding-right:10px;border-right:4px solid #eee;border-top:0;min-width:50px;line-height:1em;text-align:right">
                    <code style="margin:0;opacity:0.5;color:#333;font-size:13px">287<br></code>
                  </td>

                  <td class="m_7813385600934651522text-left" style="border-top:0;line-height:1em;padding-top:10px;padding-bottom:10px;padding-left:10px;text-align:left">
                    <code style="margin:0;color:#222;font-size:13px"><span>}</span><br></code>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            <div style="overflow:auto;width:auto">
              <table border="0" cellspacing="0" cellpadding="0">
                <tbody><tr style="padding-top:10px;padding-bottom:10px">

                  <td style="padding-top:10px;padding-bottom:10px;padding-right:10px;border-right:4px solid #eee;border-top:0;min-width:50px;line-height:1em;text-align:right">
                    <code style="margin:0;opacity:0.5;color:#333;font-size:13px">288<br></code>
                  </td>

                  <td class="m_7813385600934651522text-left" style="border-top:0;line-height:1em;padding-top:10px;padding-bottom:10px;padding-left:10px;text-align:left">
                    <code style="margin:0;color:#222;font-size:13px"><span></span><br></code>
                  </td>
                </tr>
              </tbody></table>
            </div>
            <div style="background-color:#ffedcd;overflow:auto;width:auto">
              <table border="0" cellspacing="0" cellpadding="0">
                <tbody><tr style="padding-top:10px;padding-bottom:10px">

                  <td style="padding-top:10px;padding-bottom:10px;padding-right:10px;border-right:4px solid #eee;border-top:0;min-width:50px;line-height:1em;text-align:right">
                    <code style="margin:0;opacity:0.5;color:#333;font-size:13px">289<br></code>
                  </td>

                  <td class="m_7813385600934651522text-left" style="border-top:0;line-height:1em;padding-top:10px;padding-bottom:10px;padding-left:10px;text-align:left">
                    <code style="margin:0;color:#222;font-size:13px"><span>footer {</span><br></code>
                  </td>
                </tr>
              </tbody></table>
            </div>
            <div style="overflow:auto;width:auto">
              <table border="0" cellspacing="0" cellpadding="0">
                <tbody><tr style="padding-top:10px;padding-bottom:10px">

                  <td style="padding-top:10px;padding-bottom:10px;padding-right:10px;border-right:4px solid #eee;border-top:0;min-width:50px;line-height:1em;text-align:right">
                    <code style="margin:0;opacity:0.5;color:#333;font-size:13px">290<br></code>
                  </td>

                  <td class="m_7813385600934651522text-left" style="border-top:0;line-height:1em;padding-top:10px;padding-bottom:10px;padding-left:10px;text-align:left">
                    <code style="margin:0;color:#222;font-size:13px"><span>}</span><br></code>
                  </td>
                </tr>
              </tbody></table>
            </div>
            <div style="overflow:auto;width:auto">
              <table border="0" cellspacing="0" cellpadding="0">
                <tbody><tr style="padding-top:10px;padding-bottom:10px">

                  <td style="padding-top:10px;padding-bottom:10px;padding-right:10px;border-right:4px solid #eee;border-top:0;min-width:50px;line-height:1em;text-align:right">
                    <code style="margin:0;opacity:0.5;color:#333;font-size:13px">291<br></code>
                  </td>

                  <td class="m_7813385600934651522text-left" style="border-top:0;line-height:1em;padding-top:10px;padding-bottom:10px;padding-left:10px;text-align:left">
                    <code style="margin:0;color:#222;font-size:13px"><span></span><br></code>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </code>
      </div>
    </div>
