
<!-- <section class="bg-omnilint text-center pb-2" style="margin-bottom: -100px !important;"> -->
<!-- <section class="bg-omnilint text-center pb-2"> -->
<section class="text-center bg-light bg-omnilint pb-3">
  <div class="container">
    <div class="row">
      <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 mx-auto">Apps</h1>
        <p class="lead mx-auto mb-0" style="max-width: 600px;">Gatrix is an ecosystem of cloud, desktop and mobile apps to help you write and deploy code more securely and efficiently.</p>
      </div>
    </div>
    <div class="app-boxes">
      <div class="row">
        <div class="col-6 col-lg-3">
          <a href="#cloud">
            <div class="card app-box bg-light text-dark pt-3 px-2 mb-3">
              <div style="height: 80px;">
                <img src="/logo/omnilint-logo-cloud-128.png" alt="Gatrix Desktop Icon" width="70" height="70" class="mb-2" style="opacity: 0.8;">
              </div>
              <h6 class="mb-0">Gatrix Cloud</h6>
              <p style="line-height: 0.8em !important; opacity: 0.6;"><small>For everybody, everywhere.</small></p>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="#desktop">
            <div class="card app-box bg-light text-dark pt-3 px-2 mb-3">
              <div style="height: 80px;">
                <img src="/images/omnilint-desktop-icon.png" alt="Gatrix Desktop Icon" width="70" height="70" class="mb-2">
              </div>
              <h6 class="mb-0">Gatrix Desktop</h6>
              <p style="line-height: 0.8em !important; opacity: 0.6;"><small>For Windows, Mac & Linux.</small></p>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="#connect">
            <div class="card app-box bg-light text-dark pt-3 px-2 mb-3">
              <div style="height: 80px;">
                <img src="/images/omnilint-mobile-icon.png" alt="Gatrix Mobile Icon" width="70" height="70">
              </div>
              <h6 class="mb-0">Gatrix Connect</h6>
              <p style="line-height: 0.8em !important; opacity: 0.6;"><small>For iOS & Android.</small></p>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="#cli">
            <div class="card app-box bg-light text-dark pt-3 px-2 mb-3">
              <div style="height: 80px;">
                <img src="/images/omnilint-icon-cli.png" alt="Gatrix Mobile Icon" width="70" height="70">
              </div>
              <h6 class="mb-0">Gatrix CLI</h6>
              <p style="line-height: 0.8em !important; opacity: 0.6;"><small>Install with NPM.</small></p>
            </div>
          </a>
        </div>

      </div>
    </div>

  </div>
</section>




<section class="bg-dark text-center" id="cloud">

  <div class="pricing-header px-3 pt-4 pt-md-5 mx-auto text-center" style="padding-top: 120px !important;">

    <img src="/logo/omnilint-logo-cloud-128.png" alt="Gatrix Cloud Icon" width="128" height="128" class="mb-2">
    <h1 class="display-4 text-white">Gatrix Cloud</h1>
    <p class="lead mx-auto text-white" style="max-width: 600px; opacity: 0.6;">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>

    <!-- <i class="fa fa-download mr-1"></i> -->

    <div class="pb-3">
      <!-- <a href="#" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;"> -->

      <a href="new_user_registration_path" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;">
        Sign up for free
      </a>
    </div>

  <img class="img-fluid" src="/images/web.png" alt="Gatrix Cloud Screnshot" />

</section>





<section class="bg-dark text-center" id="desktop" style="background-color: #111 !important;">

  <div class="pricing-header px-3 pt-4 pt-md-5 mx-auto text-center" style="padding-top: 120px !important;">

    <img src="/images/omnilint-desktop-icon.png" alt="Gatrix Desktop Icon" width="128" height="128" class="mb-2">
    <h1 class="display-4 text-white">Gatrix Desktop</h1>
    <p class="lead mx-auto text-white" style="max-width: 600px; opacity: 0.6;">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>

    <!-- <i class="fa fa-download mr-1"></i> -->

    <div class="pb-3">
      <!-- <a href="#" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;"> -->
      <a href="https://git.omnilint.com/omnilint/desktop/GatrixDesktopSetup.exe" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;">
        <!-- <i class="fa fa-download mr-1"></i> -->
        <i class="fa fa-windows"></i>
        Download for Windows
      </a>
      <!-- <a href="#" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;"> -->
      <a href="https://git.omnilint.com/omnilint/desktop/GatrixDesktop.dmg" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;">
        <!-- <i class="fa fa-download mr-1"></i> -->
        <i class="fa fa-apple"></i>
        Download for Mac
      </a>
      <!-- <a href="#" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;"> -->
      <a href="https://git.omnilint.com/omnilint/desktop/GatrixDesktop.AppImage" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;">
        <!-- <i class="fa fa-download mr-1"></i> -->
        <i class="fa fa-linux"></i>
        Download for Linux
      </a>
    </div>


  <img class="img-fluid" src="/images/desktop.png" alt="Gatrix Desktop Screnshot" />

</section>




<section class="bg-dark text-center" id="connect">

  <div class="pricing-header px-3 pt-4 pt-md-5 mx-auto text-center" style="padding-top: 120px !important;">

    <img src="/images/omnilint-mobile-icon.png" alt="Gatrix Mobile Icon" width="128" height="128" class="my-4">
    <h1 class="display-4 text-white">Gatrix Connect</h1>
    <p class="lead mx-auto text-white" style="max-width: 600px; opacity: 0.6;">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>


    <div class="">

        <a href="https://play.google.com/store/apps/details?id=io.omnilint.apps.omnilint" class="btn btn-lg btn-primary my-2 mr-md-2" style="min-width: 260px;" target="_blank">
          <!-- <i class="fa fa-download mr-1"></i> -->
          <i class="fa fa-apple"></i>
          Download for iOS
        </a>
        <a href="https://play.google.com/store/apps/details?id=io.omnilint.apps.omnilint" class="btn btn-lg btn-primary my-2 mr-md-2" style="min-width: 260px;" target="_blank">
          <!-- <i class="fa fa-download mr-1"></i> -->
          <i class="fa fa-android"></i>
          Download for Android
        </a>

        <p class="mb-0"><img class="img-fluid" src="/images/connect.png" alt="Gatrix CLI Screnshot" /></p>
    </div>

  <!-- <img class="img-fluid" src="/images/screenshot.jpg" alt="Gatrix Mobile Screnshot" /> -->

</section>



<section class="bg-dark text-center" id="cli" style="background-color: #111 !important;">

  <div class="pricing-header px-3 pt-4 pt-md-5 mx-auto text-center" style="padding-top: 120px !important;">

    <img src="/images/omnilint-icon-cli.png" alt="Gatrix Mobile Icon" width="128" height="128" class="my-4">
    <h1 class="display-4 text-white">Gatrix CLI</h1>
    <p class="lead mx-auto text-white" style="max-width: 600px; opacity: 0.6;">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>

    <div class="mt-4 mb-5">
      <h4><kbd>npm install -g omnilint</kbd></h4>
      <h4><kbd>omnilint login</kbd></h4>
      <h4><kbd>omnilint status</kbd></h4>
    </div>

    <img class="img-fluid" src="/images/cli.png" alt="Gatrix CLI Screnshot" />

  <!-- <img class="img-fluid" src="/images/screenshot.jpg" alt="Gatrix Mobile Screnshot" /> -->

</section>
