<style media="screen">
html, body {
  height: 100%;
}
</style>
<section class="bg-dark text-white" style="background-color: #080808 !important; height: 100%;">
  <div style="background: url('/images/bg-white.png'); height: 100%;">

    <div class="container text-center">
      <div class="pt-5 pb-0 text-md-center">
        <img class="mt-2 mb-3" src="/images/logo/gatrix-logo-dark.svg" alt="" width="160" height="160">
        <h1 class="mt-4 mb-4 h1-responsive" style="line-height: 1em; font-weight: bold;">Available Soon</h1>
        <!-- <p class="lead mx-auto text-white mb-md-5" style="opacity: 0.6;">Available Soon</p> -->
      </div>
    </div>
  </div>
</section>
