<section class="bg-dark text-center">

  <div class="pricing-header px-3 pt-4 pt-md-5 mx-auto text-center">

    <img src="/images/gatrix-desktop-icon.png" alt="Gatrix Desktop Icon" width="128" height="128" class="mb-2">
    <h1 class="display-4 text-white">Gatrix Desktop</h1>
    <p class="lead mx-auto text-white" style="max-width: 600px; opacity: 0.6;">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>


    <div class="pb-4">

      <!-- <a href="#" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;"> -->
      <a href="https://git.omnilint.com/gatrix/desktop/GatrixDesktopSetup.exe" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;">
        <!-- <i class="fa fa-download mr-1"></i> -->
        <i class="fa fa-windows"></i>
        Download for Windows
      </a>
      <!-- <a href="#" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;"> -->
      <a href="https://git.omnilint.com/gatrix/desktop/GatrixDesktop.dmg" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;">
        <!-- <i class="fa fa-download mr-1"></i> -->
        <i class="fa fa-apple"></i>
        Download for Mac
      </a>
      <!-- <a href="#" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;"> -->
      <a href="https://git.omnilint.com/gatrix/desktop/GatrixDesktop.AppImage" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;">
        <!-- <i class="fa fa-download mr-1"></i> -->
        <i class="fa fa-linux"></i>
        Download for Linux
      </a>

    </div>

  <!-- <img class="img-fluid" src="/images/desktop.png" alt="Gatrix Desktop Screnshot" /> -->

</section>




<section class="bg-dark text-center" style="background-color: #111 !important;">

  <div class="pricing-header px-3 py-4 pt-md-5 mx-auto text-center">

    <img src="/images/gatrix-mobile-icon.png" alt="Gatrix Mobile Icon" width="128" height="128" class="my-4">
    <h1 class="display-4 text-white">Gatrix Connect</h1>
    <p class="lead mx-auto text-white" style="max-width: 600px; opacity: 0.6;">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>


    <div class="mb-3">

      <a href="https://play.google.com/store/apps/details?id=io.gatrix.apps.gatrix" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;" target="_blank">
        <!-- <i class="fa fa-download mr-1"></i> -->
        <i class="fa fa-apple"></i>
        Download for iOS
      </a>
      <a href="https://play.google.com/store/apps/details?id=io.gatrix.apps.gatrix" class="btn btn-lg btn-primary my-2 mx-2" style="min-width: 260px;" target="_blank">
        <!-- <i class="fa fa-download mr-1"></i> -->
        <i class="fa fa-android"></i>
        Download for Android
      </a>

    </div>

  <!-- <img class="img-fluid" src="/images/screenshot.jpg" alt="Gatrix Mobile Screnshot" /> -->

</section>






<section class="bg-dark text-center">

  <div class="pricing-header px-3 py-4 pt-md-5 mx-auto text-center">

    <img src="/images/gatrix-icon-cli.png" alt="Gatrix Mobile Icon" width="128" height="128" class="my-4">
    <h1 class="display-4 text-white">Gatrix CLI</h1>
    <p class="lead mx-auto text-white" style="max-width: 600px; opacity: 0.6;">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>

    <div class="mt-4 mb-5">
      <h4><kbd>npm install -g gatrix</kbd></h4>
    </div>
  <!-- <img class="img-fluid" src="/images/screenshot.jpg" alt="Gatrix Mobile Screnshot" /> -->

</section>
