<div class="container my-5">
  <p> <img src="/images/omnilint-logo.png" alt="Lint.dev Repositories"> </p>

  <h1>Lint.dev</h1>
  <%#
  <pre>  •••••••••             •••••               •••<br/> •••·····•••           ··•••               ···<br/> •••     ···   ••••••   •••••••   ••••••••  ••••  ••••• •••••<br/> ·•••          ·····••• ···•••·   ··•••··•••··••• ··••• ··•••<br/> ·•••    •••••  •••••••   ·•••     ·••• ···  ·•••  ···•••••·<br/> ··•••  ··•••  •••··•••   ·••• ••• ·•••      ·•••   •••···•••<br/>  ··••••••••• ··••••••••  ··•••••  •••••     ••••• ••••• •••••<br/>   ·········   ········    ·····  ·····     ····· ····· ·····</pre>
  #%>
  <p>The Git Matrix</p>

  <p> <img src="/images/dock-icon.jpg" alt="Lint.dev Repositories" class="img-fluid"> </p>

  <%# <pre class="text-left text-muted">
  Repositories      Language    Branch    Status    Path
  --------------------------------------------------------------------
  my-repo-1         js          master    clean     /Users/you/dev
  my-repo-2         ruby        dev       clean     /Users/you/documents
  my-repo-3         php         master    clean     /Users/you/desktop
  </pre> #%>

    <h2>Lint.dev for MacOS</h2>
    <p>Download Lint.dev for Mac.</p>
    <p><a href="/app/Lint.dev.app.zip" class="btn btn-lg btn-dark my-2">Download App</a></p>
    <!-- <p><a href="/app/release/Lint.dev.zip" class="btn btn-lg btn-dark my-3">Download App</a></p> -->
    <h2>Lint.dev CLI</h2>
    <p> <img src="/images/omnilint-repos.png" alt="Lint.dev Repositories" class="img-fluid"> </p>
    <!-- <h3>With Homebrew</h3> -->
    <p>Download Lint.dev with homebrew.</p>
    <p>First install Homebrew if you don't already have it.</p>
    <!-- <p><kbd>brew install omnilint</kbd></p> -->
    <p><kbd>/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</kbd></p>

    <h4>Installation</h4>
    <p><kbd>brew tap jimdou/omnilint && brew install omnilint</kbd></p>
    <h4>Usage</h4>
    <p><kbd>omnilint</kbd></p>
    <h4>Update</h4>
    <p><kbd>brew upgrade omnilint</kbd></p>

      <!-- <p> <img src="/images/1.png" alt="Lint.dev Repositories" class="img-fluid"> </p> -->

  <%#
  <p class="text-muted">Use "omnilint" without an argument to enter interactive mode.</p>
  <p><kbd>omnilint init</kbd></p>
  <p class="text-muted">Use "omnilint init" to get started with Lint.dev.</p>
  <p><kbd>omnilint scan</kbd></p>
  <p class="text-muted">Use "omnilint scan" to scan for local git repositories.</p>
  <p><kbd>omnilint sync</kbd></p>
  <p class="text-muted">Use "omnilint sync" to sync your git repositories.</p>
  <p><kbd>omnilint refactor</kbd></p>
  <p class="text-muted">Use "omnilint refactor" to refactor your code.</p>
  <p><kbd>omnilint branch</kbd></p>
  <p class="text-muted">Use "omnilint branch" to create a branch.</p>
  <p><kbd>omnilint commit</kbd></p>
  <p class="text-muted">Use "omnilint commit" to commit your repositories.</p>
  <p><kbd>omnilint pull</kbd></p>
  <p class="text-muted">Use "omnilint pull" to update your code from the remote.</p>
  <p><kbd>omnilint push</kbd></p>
  <p class="text-muted">Use "omnilint push" to update the remote from your code.</p>
  <p><kbd>omnilint help</kbd></p>
  <p class="text-muted">Use "omnilint help" to get help.</p>
  #%>
</div>
