
<section class="bg-dark text-white" style="background-color: #080808 !important;">
  <div style="background: url('/images/bg-white.png');">

    <div class="container text-center">
      <div class="pt-4 pb-3">
        <!-- <img src="/images/omnilint-desktop-icon.png" alt="Omnilint Desktop Icon" width="128" height="128" class="mb-2"> -->
        <!-- <h1 class="mt-4 mb-4 h1-responsive" style="line-height: 1em; font-weight: bold;">End-to-end encrypted git repositories.</h1> -->
        <!-- <h1 class="mt-4 mb-4 h1-responsive mx-auto" style="line-height: 1em; font-weight: bold; max-width: 800px;">Pre-commit code quality & security framework.</h1> -->
        <!-- <h1 class="mt-4 mb-4 h1-responsive mx-auto" style="line-height: 1em; font-weight: bold; max-width: 800px;">Multi-language pre-commit code linter.</h1> -->
        <h1 class="mt-4 mb-4 h1-responsive mx-auto" style="line-height: 1em; font-weight: bold; max-width: 800px;">Pre-commit multi-language code analyzer.</h1>

        <!-- <p class="lead mx-auto text-white mb-md-5" style="opacity: 0.6;">Omnilint protects your code base by preventing intellectual property misuses from third party and employees. Your code stays fully encrypted, your key stays on your device and nobody - even us - can see what's in it.</p> -->
        <p class="lead mx-auto text-white" style="opacity: 0.6; max-width: 650px;">Omnilint helps developers discover and fix security, performance and style offenses in their code.</p>

        <a href="<%= user_github_omniauth_authorize_path %>" class="btn btn-lg btn-primary btn-block mx-auto" style="max-width: 360px;">
          <i class="fa fa-github mr-2" style="font-size: 32px; vertical-align: middle;"></i> <span style="vertical-align: middle;">Connect with Github</span>
        </a>

      </div>

      <img class="img-fluid" src="/images/screenshots/1.png" alt="Omnilint Screnshot" />
      <!-- <img class="img-fluid" src="/images/desktop.png" alt="Omnilint Desktop Screnshot" /> -->

      <!-- <img class="img-fluid" src="/images/cli.png" alt="Omnilint CLI Screnshot" /> -->

    </div>
  </div>
</section>



<!-- <section class="text-center pb-2" style="margin-bottom: -100px !important;"> -->
<section class="pt-4 pb-2 bg-white text-center">
  <div class="container">
    <div class="row">
      <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 mx-auto">What is Omnilint?</h1>
        <p class="lead mx-auto" style="max-width: 600px;">Omnilint helps developers discover and fix performance, security and formatting code issues.
        <br/>Available for PC, Mac & Linux.</p>
      </div>
    </div>
    <div class="app-boxes">

      <div class="row">
        <div class="col-6 col-lg-3">
          <a href="/apps#cloud">
            <div class="card app-box app-box-dark bg-light text-dark pt-4 pb-2 px-2 mb-3">
              <!-- <div style="height: 80px;">
                <img src="/logo/omnilint-logo-cloud-128.png" alt="Omnilint Desktop Icon" width="70" height="70" class="mb-2">
              </div> -->
              <h6 class="mb-1">Omnilint Cloud</h6>
              <p style="line-height: 0.8em !important; opacity: 0.6;"><small>For everybody, everywhere.</small></p>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="/apps#desktop">
            <div class="card app-box app-box-dark bg-light text-dark pt-4 pb-2 px-2 mb-3">
              <!-- <div style="height: 80px;">
                <img src="/images/omnilint-desktop-icon.png" alt="Omnilint Desktop Icon" width="70" height="70" class="mb-2">
              </div> -->
              <h6 class="mb-1">Omnilint Desktop</h6>
              <p style="line-height: 0.8em !important; opacity: 0.6;"><small>For Windows, Mac & Linux.</small></p>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="/apps#connect">
            <div class="card app-box app-box-dark bg-light text-dark pt-4 pb-2 px-2 mb-3">
              <!-- <div style="height: 80px;">
                <img src="/images/omnilint-mobile-icon.png" alt="Omnilint Mobile Icon" width="70" height="70">
              </div> -->
              <h6 class="mb-1">Omnilint Connect</h6>
              <p style="line-height: 0.8em !important; opacity: 0.6;"><small>For iOS & Android.</small></p>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="/apps#cli">
            <div class="card app-box app-box-dark bg-light text-dark pt-4 pb-2 px-2 mb-3">
              <!-- <div style="height: 80px;">
                <img src="/images/omnilint-icon-cli.png" alt="Omnilint Mobile Icon" width="70" height="70">
              </div> -->
              <h6 class="mb-1">Omnilint CLI</h6>
              <p style="line-height: 0.8em !important; opacity: 0.6;"><small>Install with NPM.</small></p>
            </div>
          </a>
        </div>

      </div>
    </div>

  </div>
</section>
