<style media="screen">
.btn-primary {
  /* background-color: #2560c4 !important; */
}
</style>

<section class="container-fluid text-center">
  <div class="row bg-light">


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4 mx-auto">Simple, predictable pricing</h1>
      <p class="lead mx-auto" style="max-width: 600px;">Lint.dev is free to use for public and open source projects. For  private projects, Lint.dev provides a plan for the needs of every workflow.</p>
    </div>

  </div>
</section>


<section class="container">
  <div class="row">
    <div class="col-7">
      <nav>
        <div class="nav nav-tabs flex-column flex-md-row" role="tablist" >
          <a class="flex-md-fill text-md-center nav-item nav-link active" id="nav_small_teams" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true" style="max-width: 230px;"><i class="fa fa-user"></i> Personal & Small Teams</a>
          <a class="flex-md-fill text-md-center nav-item nav-link" id="nav_large_teams" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="false" style="max-width: 230px;"><i class="fa fa-users"></i> Medium & Large Teams</a>
        </div>
      </nav>
    </div>
    <div class="col-5">
      <nav class=" text-right pull-right">
        <div class="nav nav-tabs flex-column flex-md-row" role="tablist" >
          <a class="flex-md-fill text-md-center nav-item nav-link active" id="nav_pay_monthly" data-toggle="tab" role="tab" aria-selected="true" style="max-width: 180px; cursor: pointer;">Pay monthy</a>
          <a class="flex-md-fill text-md-center nav-item nav-link" id="nav_pay_yearly" data-toggle="tab" role="tab"  aria-selected="false" style="max-width: 220px; cursor: pointer;">
            Pay yearly
            <!-- <span class="badge badge-secondary">-10%</span> -->
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>


<section class="bg-white">
  <div class="bg-white">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">


        <section class="text-center bg-white">
          <div class="">
            <div class="container py-5">
              <div class="card-deck mb-3 text-center">

                <div class="card mb-4 box-shadow">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Starter</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title mb-0">Free</h1>
                    <p class="text-muted">Ideal for experimenting</p>
                    <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                      <li>Unlimited public repositories</li>
                      <!-- <li>3 private repositories</li> -->
                      <li>Community support</li>
                      <li>100 MB of storage</li>
                      <li>Unlimited collaborators</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-dark">Sign up for free</button>
                  </div>
                </div>

                <div class="card mb-4 box-shadow">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Classic</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title mb-0 monthly">$5</h1>
                    <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$60</h1>
                    <p class="text-muted monthly">per month / user</p>
                    <p class="text-muted yearly" style="display: none;">per year / user</p>
                    <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                      <li>Unlimited public repositories</li>
                      <li>Unlimited private repositories</li>
                      <li>Email support</li>
                      <!-- <li>300 MB of storage</li> -->
                      <li>Team and user permissions</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                  </div>
                </div>

                <div class="card mb-4 box-shadow">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Pro</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title mb-0 monthly">$25</h1>
                    <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$300</h1>
                    <p class="text-muted monthly">per month / user</p>
                    <p class="text-muted yearly" style="display: none;">per year / user</p>
                    <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                      <li>Unlimited public repositories</li>
                      <li>Unlimited private repositories</li>
                      <li>Priority email support</li>
                      <!-- <li>300 MB of storage</li> -->
                      <li>Team and user permissions</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                  </div>
                </div>

              </div>

            </div>




          </div>
        </section>

      </div>
      <div class="tab-pane fade" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">


        <section class="text-center bg-white">
          <div class="row">
            <div class="container py-5">
              <div class="card-deck mb-3 text-center">



                <div class="card mb-4 box-shadow">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Business Classic</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title mb-0 monthly">$50</h1>
                    <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$1200</h1>
                    <p class="text-muted monthly">per month / user</p>
                    <p class="text-muted yearly" style="display: none;">per year / user</p>
                    <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                      <li>Unlimited public repositories</li>
                      <li>Unlimited private repositories</li>
                      <li>Email & phone support</li>
                      <li>100 GB of storage</li>
                      <li>Up to 100 users</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                  </div>
                </div>


                <div class="card mb-4 box-shadow">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Business Premium</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title mb-0 monthly">$100</h1>
                    <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$1200</h1>
                    <p class="text-muted monthly">per month / user</p>
                    <p class="text-muted yearly" style="display: none;">per year / user</p>
                    <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                      <li>Unlimited public repositories</li>
                      <li>Unlimited private repositories</li>
                      <li>Email & phone support</li>
                      <li>200 GB of storage</li>
                      <li>Up to 500 users</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                  </div>
                </div>

                <div class="card mb-4 box-shadow">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Enterprise</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title mb-0">Contact us</h1>
                    <p class="text-muted">Self-hosted solutions</p>
                    <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                      <li>Unlimited public repositories</li>
                      <li>Unlimited repositories</li>
                      <li>Email & phone support</li>
                      <li>Unlimited storage</li>
                      <li>Self-hosted solutions</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-success">Contact us</button>
                  </div>
                </div>

              </div>

            </div>




          </div>
        </section>


      </div>
    </div>
  </div>
</section>







<section class="container text-center">
  <div class="row bg-light">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Desktop, Web & Mobile Apps</h1>
      <p class="lead mx-auto " style="max-width: 600px;">Lint.dev also comes with great, free software.</p>
    </div>
  </div>
</section>




<script type="text/javascript">
  $("#nav_pay_yearly").click(() => {
    $(".monthly").hide()
    $(".yearly").show()
  })
  $("#nav_pay_monthly").click(() => {
    $(".monthly").show()
    $(".yearly").hide()
  })
</script>
