<style media="screen">
.btn-primary {
  /* background-color: #2560c4 !important; */
}
</style>

<section class="text-center">

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 mx-auto">Simple, predictable pricing</h1>
    <p class="lead mx-auto" style="max-width: 600px;">Gatrix is free to use for public and open source projects. For  private projects, Gatrix provides a plan for the needs of every workflow.</p>
  </div>

  <nav class="text-center" style="text-align: center !important;">
    <div class="nav nav-tabs text-center mx-auto" role="tablist" style="max-width: 250px;">
      <a class="nav-item nav-link active" id="nav_pay_monthly" data-toggle="tab" role="tab" aria-selected="true" style="width: 120px; cursor: pointer;">Pay monthy</a>
      <a class="nav-item nav-link" id="nav_pay_yearly" data-toggle="tab" role="tab"  aria-selected="false" style="width: 120px; cursor: pointer;">
        Pay yearly
        <!-- <span class="badge badge-secondary">-10%</span> -->
      </a>
    </div>
  </nav>
</section>


<section class="pricing-boxes bg-white">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">


      <section class="text-center">
        <div class="">
          <div class="container pt-5 pb-4">
            <div class="card-deck text-center">

              <div class="card mb-4">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title mb-0">Free</h1>
                  <p class="text-muted">ideal for experimenting</p>
                  <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                    <li>Unlimited public repositories</li>
                    <!-- <li>3 private repositories</li> -->
                    <li>Community support</li>
                    <li>100 MB of storage</li>
                    <li>Unlimited collaborators</li>
                  </ul>
                  <% if defined? user_registration_path %>
                    <%= link_to("Get started", new_user_registration_path({plan: 'free'}), class:'btn btn-lg btn-block btn-dark') %>
                  <% end %>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Developer</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title mb-0 monthly">$10</h1>
                  <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$120</h1>
                  <p class="text-muted monthly">per month</p>
                  <p class="text-muted yearly" style="display: none;">per year / user</p>
                  <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                    <li>Unlimited public repositories</li>
                    <li>Unlimited private repositories</li>
                    <li>Email support</li>
                    <!-- <li>300 MB of storage</li> -->
                    <li>Personal account</li>
                  </ul>
                  <% if defined? user_registration_path %>
                    <%= link_to("Get started", new_user_registration_path({plan: 'developer'}), class:'btn btn-lg btn-block btn-primary') %>
                  <% end %>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Business</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title mb-0 monthly">$20</h1>
                  <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$240</h1>
                  <p class="text-muted monthly">per month / user</p>
                  <p class="text-muted yearly" style="display: none;">per year / user</p>
                  <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                    <li>Unlimited public repositories</li>
                    <li>Unlimited private repositories</li>
                    <li>Priority email support</li>
                    <!-- <li>300 MB of storage</li> -->
                    <li>Team and user permissions</li>
                  </ul>
                  <% if defined? user_registration_path %>
                    <%= link_to("Get started", new_user_registration_path({plan: 'business'}), class:'btn btn-lg btn-block btn-primary') %>
                  <% end %>
                </div>
              </div>


              <div class="card mb-4">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title mb-0 monthly">$50</h1>
                  <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$600</h1>
                  <p class="text-muted yearly" style="display: none;">per year / user</p>
                  <p class="text-muted monthly">per month / user</p>
                  <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                    <li>Unlimited public repositories</li>
                    <li>Unlimited private repositories</li>
                    <li>24/7 support / 99.95% SLA</li>
                    <li>Self-hosted solution</li>
                  </ul>
                  <% if defined? user_registration_path %>
                    <%= link_to("Get started", new_user_registration_path({plan: 'enterprise'}), class:'btn btn-lg btn-block btn-primary') %>
                  <% end %>
                </div>
              </div>




            </div>

          </div>



        </div>
      </section>


    </div>
  </div>
</section>






<!--
<section class="text-center py-5" style="background-color: #ccc !important;">
  <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Desktop, Web & Mobile Apps</h1>
      <p class="lead mx-auto pb-4" style="max-width: 600px;">Gatrix also comes with great, free software.</p>
      <div class="row">
        <div class="col">
          <img src="/logo/gatrix-logo-cloud-128.png" alt="Gatrix Desktop Icon" width="126" height="126" class="mb-2">
        </div>
        <div class="col">
          <img src="/images/gatrix-desktop-icon.png" alt="Gatrix Desktop Icon" width="128" height="128" class="mb-2">
        </div>
        <div class="col">
          <img src="/images/gatrix-mobile-icon.png" alt="Gatrix Mobile Icon" width="124" height="124">
        </div>
        <div class="col">
          <img src="/images/gatrix-icon-cli.png" alt="Gatrix Mobile Icon" width="140" height="140">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Gatrix Web</h3>
          <p>For everybody, everywhere.</p>
        </div>
        <div class="col">
          <h3>Gatrix Desktop</h3>
          <p>For Windows, Mac & Linux.</p>
        </div>
        <div class="col">
          <h3>Gatrix Connect</h3>
          <p>For iOS & Android.</p>
        </div>
        <div class="col">
          <h3>Gatrix CLI</h3>
          <p>Install with NPM.</p>
        </div>
      </div>
    </div>
  </div>
</section>
 -->



<script type="text/javascript">
  $("#nav_pay_yearly").click(() => {
    $(".monthly").hide()
    $(".yearly").show()
  })
  $("#nav_pay_monthly").click(() => {
    $(".monthly").show()
    $(".yearly").hide()
  })
</script>
