<section class="py-4">
  <div class="container">
    <p><%= link_to raw('&larr; Back'), root_path %></p>
    <h1>Security</h1>
    <h4>Source code security</h4>
    <p>Communication with your source code is always encrypted over the wire using SSH and/or HTTPS.</p>
    <h4>Environment variables (secrets)</h4>
    <p>Protect secrets and other sensitive data in Lint.dev using environment variables.</p>
    <h4>Secure contexts</h4>
    <p>Secure contexts allow encrypted storage and sharing of environment variables across multiple projects while limiting access to certain user groups.</p>
    <h4>Audit logging</h4>
    <p>Use audit logs to monitor anomalies, assist in forensics, and demonstrate compliance.</p>
    <h4>Runtime isolation</h4>
    <p>Lint.dev runs all builds in isolated sandboxes that are destroyed after each use.</p>
    <h4>Console output and artifacts</h4>
    <p>Encryption is employed over the wire using SSH and/or HTTPS for both console output and artifacts. Both are only available to those with read access to your repository.</p>
    <!-- <li class="product-security-feature">
      <div class="bold">
        Two-factor authentication
      </div>
      <div>
        Lint.dev inherits 2FA authentication established in your third-party VCS provider.
      </div>
    </li> -->

  </div>

</section>
