<div class="col-4">
  <div class="card text-white <% if rule_check.passed? %>bg-success<% else %>bg-danger<% end %> mb-3" style="max-width: 18rem;">
    <div class="card-header"><%= rule_check.name %></div>
    <div class="card-body">
      <h5 class="card-title"><%= rule_check.file_name %></h5>
      <p class="card-text"><% if rule_check.rule.present? %><%= rule_check.rule.description %><% end %></p>
    </div>
  </div>
</div>
