<% if params['repository_id'].present? %>

  <%= render 'admin/repositories/header', user: @user, repository: @repository%>
<% end %>

<div class="my-4">
  <div class="mx-auto px-3" style="max-width: 400px;">
    <h1>New Document</h1>
    <%= render 'form', document: @document %>
    <%= link_to 'Back',  admin_repository_documents_path(@repository) %>
  </div>
</div>
