
<footer class="py-5 py-md-5 bg-dark text-white" style="background-color: #222 !important;">
  <!-- <div class="d-none d-md-block">
    <div class="container text-left">
      <div class="row">
        <div class="col-6 col-md-3 mb-4" style="font-weight: bold;">
          <img src="/images/logo/logo-simple-with-text-inverse.svg" class="img-fluid mb-3" alt="Lint Logo" style="max-width: 150px;">
        </div>
        <div class="col-6 col-md-3 mb-3">
          <h5>Apps</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/apps#cloud">Lint Cloud</a></li>
            <li><a class="text-muted" href="/apps#desktop">Lint Desktop</a></li>
            <li><a class="text-muted" href="/apps#connect">Lint Connect</a></li>
            <li><a class="text-muted" href="/apps#cli">Lint CLI</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-3">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-3">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="d-block d-md-none text-center"> -->
  <div class="text-center">
    <a class="text-muted" href="/">
      <img src="/images/logo/logo-simple-with-text-inverse.svg" class="img-fluid mb-3" alt="Lint Logo" style="max-width: 150px;">
    </a>
    <br />
    <small class="text-muted">
      <a class="text-muted" href="/terms">Terms of Service</a>
      &bull; <a class="text-muted" href="/privacy">Privacy Policy</a>
      &bull; <a class="text-muted" href="/security">Security</a>
      <!-- &bull; <a class="text-muted" href="/about">About</a> -->
      &bull; <a class="text-muted" href="/contact">Contact</a>
    </small>
  </div>

</footer>
