
<footer class="py-5 py-md-5 bg-dark text-white d-none d-md-block" style="background-color: #222 !important;">
  <div class="container text-left">
    <div class="row">
      <div class="col-6 col-md-3 mb-4" style="opacity: 0.4; font-weight: bold;">
        <!-- <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
        <!-- <img class="mb-2" src="/images/omnilint-logo-white.png" alt="" width="80" height="80" style="opacity: 0.3;"> -->
        <img src="/images/logo/omnilint-logo-dark.svg" width="110" height="110" class="d-inline-block align-top mb-3" alt="Gatrix Logo">

        <!-- <h5 class="text-light mb-0">GATRIX</h5> -->
        <p class="text-light">Work Smarter.</p>
        <!-- <small class="d-block mb-3 text-muted">© 2017-2018</small> -->
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5>Apps</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/apps#cloud">Gatrix Cloud</a></li>
          <li><a class="text-muted" href="/apps#desktop">Gatrix Desktop</a></li>
          <li><a class="text-muted" href="/apps#connect">Gatrix Connect</a></li>
          <li><a class="text-muted" href="/apps#cli">Gatrix CLI</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<footer class="pt-3 bg-dark text-white d-block d-md-none text-center" style="background-color: #222 !important; padding-bottom: 70px;">
  <!-- <img class="my-3" src="/images/omnilint-logo-white.png" alt="" width="80" height="80" style="opacity: 0.3;"> -->
  <img src="/images/logo/omnilint-logo-dark.svg" width="110" height="110" class="d-inline-block align-top my-3" alt="Gatrix Logo" style="opacity: 0.4;">

  <p class="text-white" style="opacity: 0.4; font-weight: bold;">Work Smarter.</p>
  <!-- <p class="">
    <a class="text-white" href="/">GATRIX</a>
  </p> -->
  <p class="text-muted" style="font-size: 11px; opacity: 0.7;">
    <a class="text-muted" href="#">Team</a>
    &bull; <a class="text-muted" href="#">Locations</a>
    &bull; <a class="text-muted" href="#">Privacy</a>
    &bull; <a class="text-muted" href="#">Terms</a>
  </p>
</footer>
