<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="background-color: #f8f9fa; color: #333; text-align: center; padding: 0 0 30px 0; margin: 0; font-size: 15px; font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;">
    <div class="wrapper" style="background-color: #ffffff; max-width: 650px; margin-left: auto; margin-right: auto; margin-bottom: 30px; padding: 10px 20px 30px 20px; border-top: 5px solid #222222; text-align: left;">
      <p>
        <a href="https://www.omnilint.com/">
          <img src="/images/logo/logo-simple-with-text.svg" alt="Omnilint Logo" width="140" height="30" />
        </a>
      </p>
      <%= yield %>
    </div>
    <footer>
      <p style="color: #999999;">Copyright &copy; Omnilint</p>
      <p style="color: #999999;"><a href="https://www.omnilint.com">https://www.omnilint.com</a></p>
    </footer>
  </body>
</html>
